/* Default (mobile-first) - 1 column */
.lg-react-element {
  column-count: 1;
  column-gap: 20px;
}

/* Medium screens (e.g., tablets) - 2 columns */
@media (min-width: 768px) {
  .lg-react-element {
    column-count: 2;
  }
}

/* Large screens (e.g., desktops) - 3 columns */
@media (min-width: 1024px) {
  .lg-react-element {
    column-count: 3;
  }
}

img {
  max-width: 100%;
  display: block;
  padding: 5px 0px;
  border-radius: 20px;
  transition: transform 0.2s;
}

img:hover {
  filter: opacity(0.9);
  transform: scale(1.01);
}
